*******************************************
1) Webpack-сборщик приложения
    Babel
    Scss
    Eslint
    2 Mods
      -Dev
        Dev server,
        SourceMaps, исходные карты
         Eslint, стиль кода форматирование
         Not Minifiend,
         JS & CSS
      -Prod
        Minified Code
    npm init

plugins
    npm install --save-dev html-webpack-plugin
    npm install copy-webpack-plugin --save-dev
    npm install --save-dev clean-webpack-plugin
    npm install --save-dev mini-css-extract-plugin
loader
    npm install sass-loader sass webpack --save-dev
    npm install css-loader --save-dev
**********************************************
2) Git

    Production
    1.0.0
    0 ----------
    Development
    1.0.2
    1 ----- + --- pul recvest  совмещение веток
    2 ---------
Инициализация:
    git init
    git add .
    git commit -m "initial"
    git remote add origin https://github.com/TI-IT/exel.git
    git push -u origin main

Добавить новую ветку:
    git checkout -b "webpack"
    git add .
    git commit -m "create webpack config"
    git push -u origin webpack


